body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", Arial;
}

#map {
  height: 50vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

div.dataTables_scrollBody {
  border: 0 !important;
}

div.dataTables_scrollHead {
  color: #eee !important;
}

.dataTable * {
  border: 0 !important;
}

table.display {
  background-color: #444 /*#4682b4*/;
}

div.dataTables_scrollHead table.display {
  color: #eee;
}
